<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h5 class="border-bottom border-gray pb-2 mb-0">Ngân hàng câu hỏi</h5>
  <div class="row mt-3">
    <div class="col-3">
      <p-dropdown [options]="listMonHocMain"
                  [(ngModel)]="selectedMonHoc"
                  styleClass="w-100"
                  placeholder="Chọn môn học"></p-dropdown>
    </div>

    <div class="col-4">
      <input type="text"
             pInputText
             [(ngModel)]="keyword"
             placeholder="Tìm kiếm theo từ khóa câu hỏi"
             class="w-100"/>
    </div>
    <div class="col-2 d-flex align-items-end">
      <button pButton type="button"
              label="Tìm kiếm" (click)="search()"
              icon="pi pi-search"></button>
    </div>
  </div>

  <hr class="mb-3 mt-3">

  <div class="row">
    <div class="col-12 mb-2 d-flex">
      <button type="button"
              pButton
              icon="pi pi-plus"
              style="height: fit-content"
              label="Thêm mới" class="mr-2"
              (click)="showCreateModal()"></button>
      <p-fileUpload name="myfile[]" customUpload="true"
                    #uploadbtn
                    (uploadHandler)="import($event)"
                    mode="basic" maxFileSize="1000000"
                    [auto]="true" chooseLabel="Import Excel"></p-fileUpload>

    </div>
    <div class="col-12">
      <p-table [value]="listCauHoi"
               [lazy]="true" (onLazyLoad)="loadListQuestion($event)" [paginator]="true"
               [rows]="pageSize" [totalRecords]="totalRow" [loading]="loading"
               dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3em;"></th>
            <th style="width: 15em;">Môn học</th>
            <th>Câu hỏi</th>
            <th style="width: 8em;" class="text-center">Hành động</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question let-expanded="expanded">
          <tr>
            <td>
              <a href="#" [pRowToggler]="question">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
              </a>
            </td>
            <td>{{question.monHoc}}</td>
            <td>{{question.content}}</td>
            <td class="text-center action-col">
              <span class="mr-3 p-0 text-warning" (click)="editQuestion(question)"><i class="pi pi-check"></i></span>
              <span class="text-danger" (click)="deleteQuestion(question.id)"><i class="pi pi-times"></i></span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-question>
          <tr>
            <td [attr.colspan]="4">
              <div class="ui-g ui-fluid">
                <div class="ui-g-6" *ngFor="let option of question.options; index as i">
                  <span [ngClass]="option.isDapAn ? 'bg-danger' : ''"
                        style="border-radius: 50%; text-align: center; display: inline-block; padding: 3px 8px;">
                    {{i === 0 ? 'A' : i=== 1 ? 'B': i === 2 ? 'C' : 'D'}}
                  </span>
                  <span>.{{option.content}}</span>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!--[contentStyle]="{'overflow':'visible'}"-->
<!--popup them moi cau hoi-->
<p-dialog [header]="isCreate ? 'Thêm mới câu hỏi' : 'Chỉnh sửa câu hỏi'"
          [(visible)]="displayCreateModal"
          [style]="{width: '50vw'}"
          [maximizable]="true"
          [draggable]="false"
          [resizable]="true"
          [position]="'top'"
          [baseZIndex]="10000"
          [modal]="true">
  <div [formGroup]="createForm" class="ui-g dialog-create-question">
    <div class="ui-g-12">
      <label>Môn học</label>
      <p-dropdown [options]="listMonHoc"
                  placeholder="Chọn môn học"
                  formControlName="subject">
      </p-dropdown>
    </div>
    <div class="ui-g-12">
      <label>Nội dung câu hỏi</label>
      <textarea rows="3" pInputTextarea
                autoResize="autoResize"
                formControlName="question">
      </textarea>
    </div>
    <div class="ui-g-12">
      <label>Đáp án A</label>
      <textarea rows="2"
                formControlName="optionA"
                pInputTextarea>
      </textarea>
    </div>

    <div class="ui-g-12">
      <label>Đáp án B</label>
      <textarea rows="2"
                pInputTextarea
                formControlName="optionB">
      </textarea>
    </div>

    <div class="ui-g-12">
      <label>Đáp án C</label>
      <textarea rows="2"
                formControlName="optionC"
                pInputTextarea>
      </textarea>
    </div>

    <div class="ui-g-12">
      <label>Đáp án D</label>
      <textarea rows="2"
                formControlName="optionD"
                pInputTextarea>
      </textarea>
    </div>
    <div class="ui-g-12">
      <label> Đáp án</label>
      <p-dropdown [options]="listDapAn"
                  placeholder="Chọn đáp án"
                  formControlName="dapAn">
      </p-dropdown>
    </div>
  </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check"
            (click)="saveQuestion()" label="Lưu lại"></button>
    <button type="button"
            pButton icon="pi pi-times"
            (click)="displayCreateModal=false" label="Hủy"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '25vw'}" key="deleteConfirmDialog" [baseZIndex]="10000"></p-confirmDialog>

