<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h5 class="border-bottom border-gray pb-2 mb-0">Ngân hàng câu hỏi</h5>
  <div class="row mt-3">
    <div class="col-3">
      <p-dropdown [options]="listMonHoc"
                  [(ngModel)]="selectedMonHoc"
                  styleClass="w-100"
                  placeholder="Chọn môn học"></p-dropdown>
    </div>

    <div class="col-3">
      <p-dropdown [options]="listGiaoVien"
                  [(ngModel)]="selectedGiaoVien"
                  styleClass="w-100"
                  placeholder="Chọn giáo viên tạo"></p-dropdown>
    </div>
    <div class="col-4">
      <input type="text"
             pInputText
             placeholder="Tìm kiếm"
             class="w-100"/>
    </div>
    <div class="col-2 d-flex align-items-end">
      <button pButton type="button" label="Tìm kiếm" (click)="search()"></button>
    </div>
  </div>

  <hr class="mb-3 mt-3">

  <div class="row">
    <div class="col-12 mb-2">
      <button class="btn btn-success btn-sm"
      (click)="showCreateModal()">Thêm mới</button>
    </div>
    <div class="col-12">
      <p-table [value]="listCauHoi"
               dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3em;"></th>
            <th style="width: 15em;">Môn học</th>
            <th>Câu hỏi</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question let-expanded="expanded">
          <tr>
            <td>
              <a href="#" [pRowToggler]="question">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
              </a>
            </td>
            <td>{{question.monHocId}}</td>
            <td>{{question.content}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-question>
          <tr>
            <td [attr.colspan]="3">
              <div class="ui-g ui-fluid">
                <div class="ui-g-6" *ngFor="let option of question.options; index as i">
                  <b>{{i === 0 ? 'A' : i=== 1 ? 'B': i === 2 ? 'C' : 'D'}}. {{option.content}}</b>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
          <p-paginator [rows]="25" totalRecords="100" (onPageChange)="paginate($event)"></p-paginator>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<!--popup them moi cau hoi-->
<p-dialog header="Thêm mới câu hỏi"
          [(visible)]="displayCreateModal"
          [style]="{width: '50vw'}"
          [maximizable]="true"
          [position]="'top'"
          [baseZIndex]="10000"
          [draggable]="false">
  <div class="ui-g" [formGroup]="createForm">
    <div class="ui-g-12">
      <label>Môn học</label>
      <p-dropdown [options]="listMonHoc"
                  formControlName="subject"></p-dropdown>
    </div>
    <div class="ui-g-12">
      <label>Nội dung câu hỏi</label>
      <textarea rows="3" pInputTextarea
                autoResize="autoResize"
                formControlName="question"></textarea>
    </div>
    <div class="ui-g-12">
      <label>Đáp án A</label>
      <textarea rows="2"
                formControlName="optionA"
                pInputTextarea ></textarea>
    </div>

    <div class="ui-g-12">
      <label>Đáp án B</label>
      <textarea rows="2"
                pInputTextarea
                formControlName="optionB"></textarea>
    </div>

    <div class="ui-g-12">
      <label>Đáp án C</label>
      <textarea rows="2"
                formControlName="optionC"
                pInputTextarea ></textarea>
    </div>

    <div class="ui-g-12">
      <label>Đáp án D</label>
      <textarea rows="2"
                formControlName="optionD"
                pInputTextarea></textarea>
    </div>
  </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check"
            (click)="saveQuestion()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="displayCreateModal=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
