textarea, input {
  width: 100%;
}

.action-col span {
  cursor: pointer;
}

/*::ng-deep .ui-dialog-resizable .ui-dialog-content{*/
/*  overflow: hidden !important;*/
/*}*/

::ng-deep .ui-dialog  {
  max-height: 100% !important;
}

::ng-deep .dialog-create-question > div.ui-g-12 label{
  font-weight: 500 !important;
  font-size: 1.1em;
}
