<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item" routerLinkActive="active-bg">
                        <a class="nav-link" routerLink="/de-thi/ngan-hang-cau-hoi" routerLinkActive="active">
                          <i class="pi pi-question-circle align-middle" style="font-size: 2.5em"></i>
                            Ngân hàng câu hỏi
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active-bg">
                        <a class="nav-link" routerLink="/de-thi/soan-de" routerLinkActive="active">
                          <i class="pi pi-table align-middle" style="font-size: 2.5em"></i>
                            Soạn đề thi
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active-bg">
                        <a class="nav-link" routerLink="/de-thi/danh-sach-de-thi" routerLinkActive="active">
                          <i class="pi pi-ticket align-middle" style="font-size: 2.5em"></i>
                            Danh sách đề thi
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active-bg">
                      <a class="nav-link" routerLink="/de-thi/list-mon-hoc" routerLinkActive="active">
                        <i class="pi pi-th-large align-middle" style="font-size: 2.5em"></i>
                        Quản lý môn học
                      </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active-bg">
                      <a class="nav-link" routerLink="/de-thi/list-giao-vien" routerLinkActive="active">
                        <i class="pi pi-users align-middle" style="font-size: 2.5em"></i>
                        Quản lý giáo viên
                      </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active-bg">
                      <a class="nav-link" routerLink="/de-thi/list-account" routerLinkActive="active">
                        <i class="pi pi-user align-middle" style="font-size: 2.5em"></i>
                        Quản lý Tài khoản
                      </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

